<app-layout>
    <ng-container>
        <!-- <div class="container">
            <div class="row"> -->
                <!-- <div class="col-md-12">
                    <app-carousel-config></app-carousel-config>
                </div> -->
                <!-- <br>
                <br>
                <div class="col-md-12">
                    <app-post-list></app-post-list>
                </div>
                <br>
                <br>
            </div>
        </div> -->

        <div
  class="static-slider-head"
  style="background-color: rgba(212, 211, 211, 0.8)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Fholisani's Blog</h1>
        <h5 class="subtitle op-5">
          Learn about interesting technology and or any orther topics.
        </h5>


      </div>
      <!-- Column -->
    </div>
  </div>
          <div class="row">
            <div class="col-md-12">
              <app-post-list></app-post-list>
            </div>
          </div>

</div>

<br/>
<br/>
<br/>
<br/>




    </ng-container>
</app-layout>
