<footer class="footer fixed-bottom">
    
    <div class="container">
        <div class="row">
 
            <div class="page-hero d-flex align-items-center justify-content-center">

                
                <button mat-fab shareButton="facebook"
                #fbBtn="shareButton"
                [style.backgroundColor]="fbBtn?.color" >
  <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
</button>
&nbsp;&nbsp;&nbsp;
<button mat-fab shareButton="twitter"
                #twtBtn="shareButton"
                [style.backgroundColor]="twtBtn?.color">
  <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
</button>
               </div>

            <div class="col-lg-8 col-md-10 mx-auto">

                <!-- <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/sbootstrap" target="_blank"
                            >
                            
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                              </span>
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a [routerLink]=""
                            >
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                              </span>
                    
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/StartBootstrap/sb-clean-blog-angular" target="_blank"
                            >
                            <span class="fa-stack fa-2x">
                                <i class="fas fa-square fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                              </span>
                    
                    </a>
                    </li>
                </ul> -->
                <p class="copyright text-muted">Copyright © Your Website 2021</p>
            </div>
        </div>
    </div>

</footer>
