<footer class="footer fixed-bottom">

    <div class="container">
        <div class="row">


            <div class="col-lg-8 col-md-10 mx-auto">
                <div style="text-align:center">
                    <span class="fa-stack fa-2x">
                        <a class="link" >
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </a>

                      </span>
                      <span class="fa-stack fa-2x"  >
                        <a class="link" href="https://www.facebook.com/khuthadzoratshilumela.kgsgood" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                        </a>

                      </span>
                      <span class="fa-stack fa-2x" >
                        <a class="link" href="https://www.instagram.com/khuthadzo_kg/" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </a>

                      </span>

                  </div>

                <p class="copyright text-muted">Copyright © khuthadzo-kg.co.za 2021</p>
            </div>
        </div>
    </div>

</footer>
