.video-js .vjs-control-bar {
 
    position: fixed;
   
  }

  .gallery-item {
    width: 200px;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
    padding: 5px;
  }


p.ex1 {display: inline-block;}