
<app-layout>
  <ng-container>
    <div class="container"
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown($event)">
      <div class="row">
        <br>
        <div class="col-md-12">
          <!-- <app-upload-data [numberOfPosts]="numberOfPosts" [isPostAvailable]="isPostAvailable"
            [isCreatePost]="isCreatePost" [isImageUpload]="isImageUpload" [isImgAvailable]="isImgAvailable"
            [isCreateImg]="isCreateImg"
            [portfolioType]="portfolioType">
          </app-upload-data> -->
          <br>
          <br>
          <div class="alert alert-success" *ngIf="successMessage">
            <p>{{successMessage}}</p>
          </div>
          <div class="alert alert-danger" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
          </div>
          <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
          </div>

        </div>

        <div class="col-md-12" >

          <lightgallery [settings]="settings" [onInit]="Init" [onAfterClose]="AfterClose" [onBeforeOpen]="BeforeOpen">
            <a *ngFor="let item of items | paginate
            :config; let i = index" [attr.data-lg-size]="item.size" class="gallery-item"
            
              [attr.data-poster]="item.thumb"
              [attr.data-sub-html]="item.subHtml"
              [attr.data-video]="[item.video | json]">
              <img  width="300" height="150" class="img-responsive" alt="{{item.reference + '-'+ i}}" src="{{ item.thumb }}" />
             
 
              
            </a>
            
      
        
            <br>
          </lightgallery>
        
        </div>

        <!-- <pagination-controls
        class="pagi"
        (pageChange)="pageChange($event)"
      ></pagination-controls> -->
      </div>
    </div>
  </ng-container>
</app-layout>




