
    <app-upload-data [numberOfPosts]="numberOfPosts" [isPostAvailable]="isPostAvailable" [isCreatePost]="isCreatePost">
    </app-upload-data>
    <br>
    <br>
    <br>


    <div class="alert alert-success" *ngIf="successMessage">
        <p>{{successMessage}}</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
    </div>
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="accordion-item">
    

        <br>
        <div class="row" *ngIf="!isLoading">



            <!-- Row  -->
<div class="container spacer">
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 no-trans text-center">
        <h2 class="title">Recent Posts</h2>
    
      </div>
      <!-- Column -->
    </div>
    <div class="row m-t-40 justify-content-center">
      <!-- Column -->
      <div
        class="col-md-8 no-trans border-bottom mb-4"
        *ngFor="let postCard of postCards  | paginate :config;let i = index"
      >
        <div class="card" data-aos="flip-left" data-aos-duration="1200">
          <div class="row">
            <div class="col-md-2 no-trans">
              <span class="text-dark font-medium">{{ postCard.timeElapsed }}</span>
              <h6 class="card-subtitle font-12 mt-1">By Fholisani</h6>
            </div>
            <div class="col-md-7 no-trans">
              <h5 class="font-medium cursor-pointer" (click)="viewDetail(postCard.id)">
                {{ postCard.heading.substring(0, 50) }}..
              </h5>
              <p class="m-t-20">
                {{ postCard.subHeading }}
              </p>
            </div>
            <div class="col-md-3 no-trans">
              <a routerLink="/post/{{postCard.postId}}"
                class="linking font-medium text-themecolor m-t-10 cursor-pointer"
              >
                <span >Show Detail</span>
                <i class="ti-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mx-auto ">
        <pagination-controls class="pagi" (pageChange)="pageChange($event)"></pagination-controls>
      </div>
      
    </div>
  </div>

          
       




        </div>

     
        
    </div>

