
    <app-upload-data [numberOfPosts]="numberOfPosts" [isPostAvailable]="isPostAvailable" [isCreatePost]="isCreatePost">
    </app-upload-data>
    <br>
    <br>
    <br>


    <div class="alert alert-success" *ngIf="successMessage">
        <p>{{successMessage}}</p>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
        <p>{{errorMessage}}</p>
    </div>
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="accordion-item">
        <h2 style="text-align: center;" class="accordion-header" id="headingOne">

            Blog Post

        </h2>

        <br>
        <div class="row" *ngIf="!isLoading">


            <md-list-item  *ngFor="let postCard of postCards  | paginate :config;let i = index" [ngClass]="{'line-break col-xs-4 col-sm-4 col-md-4 col-lg-4 ': 3}">
                <!--Card-->
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-md-12">

                            <mdb-card class="h-100">
                                <!--Card image-->
                                <div class="view overlay waves-light" mdbWavesEffect>
                                    <mdb-card-img src={{postCard.backgroundImage}} alt="Card image cap" [ngClass]="{'imgBgSize':true}">

                                    </mdb-card-img>
                                    <a routerLink="/post/{{postCard.postId}}" r>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!--Card content-->
                                <mdb-card-body>



                                    <!--Title-->
                                    <mdb-card-title>
                                        <h4>{{i + 1}} - {{postCard.heading}} <a class="activator px-3 mr-2">
                                                <!-- <mdb-icon fas icon="share-alt" class="black-text"></mdb-icon> -->

                                            </a></h4>
                                    </mdb-card-title>
                                    <hr class="hr-light">
                                    <!--Text-->
                                    <mdb-card-text>
                                        {{postCard.subHeading}}
                                    </mdb-card-text>

                                    <a routerLink="/post/{{postCard.postId}}" mdbBtn color="primary" mdbWavesEffect>Read
                                        more</a>
                                    <!-- Card footer -->
                                    <div class="card-footer text-muted text-center mt-4">
                                       Posted {{postCard.timeElapsed}}
                                    </div>

                                    <share-buttons [theme]="'modern-light'"
                                    [include]="['facebook','twitter','linkedin','whatsapp', 'email','copy']"
                                    [show]="7"
                                    [showIcon]="true"
                                    [showText]="false"
                                    [title]="this.postCard.heading"
                                    [description]="this.postCard.subHeading"
                                    [image]="this.postCard.backgroundImage"
                                    [url]="this.host +'post/'+ this.postCard.postId+ '/'"
                                    [autoSetMeta]="false"
                                   ></share-buttons>
                                </mdb-card-body>
                            </mdb-card>

                        </div>

                    </div>

                </div>

                <p></p>



                <!--/.Card-->


            </md-list-item>

        </div>

        <br>
        <br>
        <br>
        <pagination-controls class="pagi" (pageChange)="pageChange($event)"></pagination-controls>
    </div>


