<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-outline-warning"  (click)="onNewFile()"> {{ componentUploading == 'postImg' ? 'Add Post' : 'Add Background' }} </a>
       
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">


        <app-files-item 
        *ngFor="let imageElement of uploadedContentImage; let i =index"
        [image]="imageElement"
        [componentUploading]="componentUploading"
        [index]="i"></app-files-item>
    </div>
</div>

