<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <form class="row g-3" id="newPostForm" [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
                <h2 class="text-black-50 mb-4">Edit Content</h2>
               
                <div class="float-end">
                    <app-upload-data [numberOfPosts]="numberOfPosts" 
                    [isPostAvailable]="isPostAvailable"
                    [isCreatePost]="isCreatePost" 
                
                    [isImageUpload]="isImageUpload"
                    [isImgAvailable]="isImageUpload"
                    [isCreateImg]="isCreateImg">
                </app-upload-data>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <div class="alert alert-success" *ngIf="successMessage">
                        <p>{{successMessage}}</p>
                      </div>
                    <div class="alert alert-danger" *ngIf="errorMessage">
                        <p>{{errorMessage}}</p>
                      </div>
                    <div *ngIf="isLoading">
                        <app-loading-spinner></app-loading-spinner>
                      </div>
                </div>
               
                  <div class="card border-secondary mb-3">
                    <div class="card-header">Detail information</div>
                    <div class="card-body text-secondary">
                      <h5 class="card-title">Content</h5>
                      <div class="form-group">
                        <input class="form-control py-4" id="headingInput" data-cy="headingInput" type="text" 
                        placeholder="Post heading" formControlName="heading"
                        [ngClass]="{ 'is-invalid': submitted && f.heading.errors }"
                        required />
                        <div *ngIf="submitted && f.heading.errors" class="invalid-feedback" data-sb-feedback="name:required">Heading required.</div>
    
                    </div>
                    <div class="form-group">
                        <input class="form-control py-4" id="subHeadingInput" data-cy="subHeadingInput" type="text" 
                        placeholder="Post subheading" formControlName="subHeading" 
                        [ngClass]="{ 'is-invalid': submitted && f.subHeading.errors }"
                        required />
                        <div *ngIf="submitted && f.subHeading.errors" class="invalid-feedback" data-sb-feedback="name:required">Subheading required.</div>
    
                    </div>
                    <div class="form-group">
                        
                        <!-- <div class="invalid-feedback" *ngIf='bodyControl.hasError("required")'>Body content required</div>
                        <div class="invalid-feedback" *ngIf='bodyControl.hasError("body")'>Body content is not valid</div> -->
                        <div class="row">
                          <div class="col-md-6">
                              <h5>Markdown</h5>
 
                              <textarea autosize class="form-control py-3" id="bodyInput" autosize data-cy="bodyInput" placeholder="Post body text (markdown supported)"
                         formControlName="body"
                         [ngClass]="{ 'is-invalid': submitted && f.body.errors }"
                         required></textarea>
                        <div class="form-text text-white-50"><fa-icon class="mr-1" [icon]='["fab", "markdown"]'></fa-icon>Markdown supported</div>
                        <div *ngIf="submitted && f.body.errors" class="invalid-feedback" data-sb-feedback="name:required">Message body is required.</div>
    
                             <h5><a class="btn btn-outline-info" href="https://stackedit.io/app#">For advanced blog post use external editor</a> </h5>
                          </div>
                          <div class="col-md-6">
                             <h5>Results</h5>
                              <!-- Converted markdown will display here -->
                              <markdown class="variable-binding" [data]="convertedText | markdown" katex></markdown>

                              <!-- <div style="white-space: pre"  [innerHTML]="convertedText | markdown"></div> -->
                            
                          </div>
                      </div>
                    
                      </div>
                    </div>
                  </div>
                  <div class="card border-primary mb-3">
                    <h1>Pictures</h1>
                    <div class="container">
                      <div class="row">
                        <div class="col-5">
                          <div class="card border-primary mb-3">
                            <div class="card-header">Post Background</div>
                            <div class="card-body text-primary">           
                            
                              <div class="form-group">
                             
                                <div class="alert alert-danger" *ngIf="!hasComponentSubmitedBgImages && submitted && (f.backgroundImage.errors || f.backgroundImage.invalid)">
                                  <p>Post Background Image is required.</p>
                                </div>
        
                                <app-alert-message [isLoading]="isUploadBgLoading" [errorMessage]="errorUploadBgMessage" 
                                [successMessage]="successUploadBgMessage"></app-alert-message>
                                
                                <app-files [componentUploading]="'backgroundImg'"  
                                [uploadedContentImage]="uploadedContentImageBg"
                                [portfolioTypes]="bgPortfolioTypes"
                                [isMultipleUpload]="isMultipleBgUpload"
                                (componentCalling)="componentUploading($event)"
                                (click)="showImgBgContainer()"></app-files>
                              
                             
        
                                
                   
                                <!-- 
                                <app-image-upload [componentUploading]="'backgroundImg'" 
                                [uploadedImageUrl]="uploadedBgImageUrl"
                                [portfolioTypes]="bgPortfolioTypes"
                                [isMultipleUpload]="isMultipleBgUpload"
                                (submitedImages)="acceptData($event)"
                                (componentCalling)="componentUploading($event)"></app-image-upload>
         
                                <div *ngIf="submitted && (f.backgroundImage.errors || f.backgroundImage.invalid)" class="invalid-feedback" data-sb-feedback="name:required">Background image required.</div> -->
                              
                            </div>
                            </div>
                          </div>
                          <div class="card border-success mb-3">
                            <div class="card-header">Upload Post Images</div>
                            <div class="card-body text-success">
                           
                            <div class="form-group">
                       
                                        <div class="alert alert-danger" *ngIf="!hasComponentSubmitedPostImages && submitted && (f.imageUrls.errors || f.imageUrls.invalid)">
                                            <p>Images required.</p>
                                          </div>
                         
                                        <div *ngIf="submitted && (f.imageUrls.errors || f.imageUrls.invalid)" class="invalid-feedback" data-sb-feedback="name:required">Images required.</div>
                                     
                                        <app-alert-message [isLoading]="isUploadLoading" [errorMessage]="errorUploadMessage" 
                                        [successMessage]="successUploadMessage"></app-alert-message>
                                       
                                        <app-files [componentUploading]="'postImg'"  
                                        [uploadedContentImage]="uploadedContentImagePost"
                                        [portfolioTypes]="portfolioTypes"
                                        [isMultipleUpload]="isMultipleUpload"
                                        (componentCalling)="componentUploading($event)"
                                        (click)="showImgPostContainer()"></app-files>

                                     
                                   
                                        <!-- <app-image-upload [componentUploading]="'postImg'" 
                                      [uploadedImageUrl]="uploadedImageUrl"
                                      [portfolioTypes]="portfolioTypes"
                                      [isMultipleUpload]="isMultipleUpload"
                                      (submitedImages)="acceptPostData($event)"
                                      (componentCalling)="componentUploading($event)"></app-image-upload> -->
         
                            </div>
                                  
                            </div>
                          </div>
                        </div>
                        <div class="col-7">
                          <router-outlet ></router-outlet>
                        </div>
                      </div> 
                    </div>
                  </div>
             
            
                  

                  <br>
                  <div class="container">
                  <!-- <div class="row imagetiles" >
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor='let url of imageUrlsLocal; let i = index'>
                        <img class="img-responsive" style="max-height: 70px;" [src]="url">
                        <a (click)="removeImage(i)" class="btn btn-xs btn-danger">Remove</a>
                      </div>
                  </div> -->
                </div>
                  
            
                  
                <div class="form-group d-flex align-items-center justify-content-between">
                    <button class="btn btn-primary" *ngIf="!editMode" data-cy="createButton" type="submit"
                    >Create Post</button>
                    <button class="btn btn-success" *ngIf="editMode" data-cy="updateButton" type="submit"
                    >Update Post</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button> -->
                </div>
            </form>
        </div>
    </div>
</div>

