<a
style="cursor: pointer;" 
class="list-group-item clearfix" 
routerLinkActive="active"
[routerLink] ="[index]"
>

   <div class="pull-left">
       <h4 class="list-group-item-heading">{{image.name}}</h4>
       <!-- <p class="list-group-item-text">{{image.description}}</p> -->
   </div>

   <!-- <div  *ngFor="let file of image.imageUrls"> -->
    <span class="pull-right" >
        <!-- src="{{recipe.imagePath}}" -->
 
        <!-- <img [src]="image.url +'?THUMBNAIL'" alt="{{image.name}}" class="img-responsive" style="max-height: 160px;max-width: 160px;"> -->
    </span>
   <!-- </div> -->
   
</a>