<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-8">

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="col-sm-4">
        <div
        class="btn-group dropdown"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Manage Post <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Post</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Post</a></li>
        </ul>
      </div>

        <div class="card text-dark bg-light mb-3">
            <div class="card-header">
                <h3 class="card-title">{{post.heading}}</h3>
            </div>
            <br>
            <div class="card-body">
              <h5 class="card-title"> <markdown ngPreserveWhitespaces>
                {{post.subHeading}}
              </markdown></h5>
             
              <p class="card-text">
                <markdown ngPreserveWhitespaces>{{post.body}}</markdown></p>

                <p class="card-text">
                    Date : {{post.body}}
                </p>
                <p class="card-text">
                    Author : {{post.author}}
                </p>
                <p class="card-text">
                    Read Time : {{post.readTime}}
                </p>
            </div>
          </div>
      </div>
    </div>

  </div>

